<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker - Jasna Misimovic</title>
    <meta name="description" content="A project for freeCodeCamp's Information Security and Quality Assurance certification">
    <link rel="shortcut icon" href="favicon.ico"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/public/style.css"> 
  </head>
  <body>
    <div class="container">
    <header>
      <h1>
        Issue Tracker
      </h1>
    </header>
    <div id="userstories" style="margin-left: 5%; margin-top: 5%">
      <h3>User Stories</h3>
      <ol>
        <li>Prevent cross site scripting(XSS attack).</li>
        <li>I can <b>POST</b> <code>/api/issues/{projectname}</code> with form data containing required <i>issue_title</i>, <i>issue_text</i>, <i>created_by</i>, and optional <i>assigned_to</i> and <i>status_text</i>.</li>
        <li>The object saved (and returned) will include all of those fields (blank for optional no input) and also include <i>created_on</i>(date/time), <i>updated_on</i>(date/time), <i>open</i>(boolean, true for open, false for closed), and <i>_id</i>.</li>
        <li>I can <b>PUT</b> <code>/api/issues/{projectname}</code> with a <i>_id</i> and any fields in the object with a value to said object. Returned will be 'successfully updated' or 'could not update '+_id. This should always update <i>updated_on</i>. If no fields are sent return 'no updated field sent'.</li>
        <li>I can <b>DELETE</b> <code>/api/issues/{projectname}</code> with a <i>_id</i> to completely delete an issue. If no _id is sent return '_id error', success: 'deleted '+_id, failed: 'could not delete '+_id.</li>
        <li>I can <b>GET</b> <code>/api/issues/{projectname}</code> for an array of all issues on that specific project with all the information for each issue as was returned when posted.</li>
        <li>I can filter my get request by also passing along any field and value in the query(ie. <code>/api/issues/{project}?open=false</code>). I can pass along as many fields/values as I want.</li>
        <li>All 11 functional tests are complete and passing.</li>
      </ol>
      <h3>Example get usage:</h3>
      <code>/api/issues/{project}</code><br>
      <code>/api/issues/{project}?open=true&amp;assigned_to=Joe</code><br>
      <h3>Example return:</h3>
      <code>[{"_id":"5871dda29faedc3491ff93bb",<br> 
        "issue_title":"Fix error in posting data",<br>  
        "issue_text":"When we post data it has an error.",<br>  
        "created_on":"2017-01-08T06:35:14.240Z",<br>  
        "updated_on":"2017-01-08T06:35:14.240Z",<br>  
        "created_by":"Joe", "assigned_to":"Joe",<br>  
        "open":true,<br>  
        "status_text":"In QA"},...]</code>
      <br>
      <h4><a href="/apitest/">EXAMPLE: Go to <i>/apitest/</i> project issues</a></h4>
    </div>
    <hr style="margin: 50px">
    <div id="testui">
      <form id="testForm" class="border">
        <h3>New Issue</h3>
        <div class="form-fields">
          <div class="form-left">
            <label for="issue_title">Title</label>
            <input type="text" name="issue_title" id="issue_title" required><br>
            <label for="issue_text">Description</label>
            <textarea type="text" name="issue_text" id="issue_text" required></textarea><br>
          </div>
          <div class="form-right">
            <label for="created_by">Created by</label>
            <input type="text" name="created_by" id="created_by" required><br>
            <label for="assigned_to">Assigned to</label>
            <input type="text" name="assigned_to" id="assigned_to"><br>
            <label for="status_text">Issue status</label>
            <input type="text" name="status_text" id="status_text"><br>
          </div>
        </div>
        <button type="submit">Submit Issue</button>
      </form>
      <form id="testForm2" class="border">
        <h3>Update Issue</h3>
        <div class="form-fields">
          <div class="form-left">
            <label for="_id">Issue _id</label>
            <input type="text" name="_id" id="_id" required><br>
            <label for="update_title">Title</label>
            <input type="text" name="issue_title" id="issue_title"><br>
            <label for="issue_text">Description</label>
            <textarea type="text" name="issue_text" id="issue_text"></textarea><br>
          </div>
          <div class="form-right">
            <label for="update_by">Updated by</label>
            <input type="text" name="created_by" id="created_by"><br>
            <label for="update_assigned_to">Assigned to</label>
            <input type="text" name="assigned_to" id="assigned_to"><br>
            <label for="update_status">Issue status</label>
            <input type="text" name="status_text" id="status_text"><br>
            <label>
              Check to close issue: 
              <input type="checkbox" id="close_issue" name="open" value="false"><br>
            </label>
          </div>
        </div>
        <button type="submit">Update Issue</button>
      </form>
      <form id="testForm3" class="border">
        <h3>Delete Issue</h3>
        <label for="delete_id">_id</label>
        <input type="text" name="_id" placeholder="_id" required><br>
        <button type="submit">Delete Issue</button>
      </form>
    </div>
  </div>
  <footer>
    <a href="http://jasnamisimovic.me" target="_blank">
      <img src="/public/img/logo.jpg" width="50">
      <h5>jasnamisimovic.me</h5>
    </a>
    <h6>Technologies: Node, Express, Helmet, MongoDB, Mongoose, Chai, Mocha, HTML, CSS</h6>
  </footer> 
    <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
          integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous"></script>
  <script>
    $(function() {
      $('#testForm').submit(function(e) {
        $.ajax({
           url: '/api/issues/apitest',
          type: 'post',
          data: $('#testForm').serialize(),
           success: function(data) {
           $('#jsonResult').text(JSON.stringify(data));
           alert("Issue successfully added"); 
           window.location.reload(true);
        }
          });
        e.preventDefault();
      });
      $('#testForm2').submit(function(e) {
        $.ajax({
          url: '/api/issues/apitest',
          type: 'put',
          data: $('#testForm2').serialize(),
          success: function(data) {
            $('#jsonResult').text(JSON.stringify(data));
            alert("Issue successfully updated"); 
            window.location.reload(true);
          }
        });
        e.preventDefault();
      });
      $('#testForm3').submit(function(e) {
        $.ajax({
          url: '/api/issues/apitest',
          type: 'delete',
          data: $('#testForm3').serialize(),
          success: function(data) {
            $('#jsonResult').text(JSON.stringify(data));
            alert("Issue successfully deleted"); 
            window.location.reload(true);
          }
        });
        e.preventDefault();
      });
    });
   </script>
  </body>
</html>
