<!DOCTYPE html>
<html>
  <head>
      <title>Issue Tracker - Jasna Misimovic</title>
      <meta name="description" content="A project for freeCodeCamp's Information Security and Quality Assurance certification">
      <link rel="shortcut icon" href="favicon.ico"> 
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
      <link rel="stylesheet" type="text/css" href="/public/style.css"> 
    </head>
  <body>
    <div class="container">
      <header>
        <h1 id='projectTitle'></h1>
      </header>
      <div id='submitNewIssue'>
        <br>
        <h3>Submit a new issue:</h3>
        <form id="newIssue" method="post" action="/api/">
          <div class="form-fields">
            <div class="form-left">
              <label for="issue_title">Title</label>
              <input type="text" name="issue_title" id="issue_title" required><br>
              <label for="issue_text">Description</label>
              <textarea type="text" name="issue_text" id="issue_text" required></textarea><br>
            </div>
            <div class="form-right">
              <label for="created_by">Created by</label>
              <input type="text" name="created_by" id="created_by" required>
              <label for="assigned_to">Assigned to</label>
              <input type="text" name="assigned_to" id="assigned_to">
              <label for="status_text">Issue status</label>
              <input type="text" name="status_text" id="status_text"><br>
            </div>
          </div>
          <button type="submit">Submit Issue</button>
        </form>
      </div>   
      <div id='issueDisplay'></div>   
    </div>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        var currentProject = window.location.pathname.replace(/\//g, "");;
        var url = "/api/issues/"+currentProject;
        $('#projectTitle').text('All issues for: '+currentProject)
        $.ajax({
          type: "GET",
          url: url,
          success: function(data)
          {
            var issues= [];
            data.forEach(function(ele) {
              console.log(ele);
              var dayCreated = ele.created_on.substring(0, 10) + " at " + ele.created_on.substring(11,16).replace(":", "h");
              var dayUpdated = ele.updated_on.substring(0, 10) + " at " + ele.updated_on.substring(11,16).replace(":", "h");
              (ele.open) ? openstatus = 'open' : openstatus = 'closed';
              var single = [
                '<div class="issue '+openstatus+'">',
                '<h3>'+ele.issue_title+'</h3>',
                '<h2 class=\"issueId\">Issue ID: ' + ele._id + '</h2>',
                '<br>',
                '<label>Description:<p class=\"description\">' + ele.issue_text + '</p></label>',
                '<label>Issue status:<p class=\"status\">' + ele.status_text + '</p></label>',
                '<br><a href="#" class="closeIssue" id="'+ele._id+'">close</a> <a href="#" class="deleteIssue" id="'+ele._id+'">delete</a>',
                '<p class=\"issueDetails\">Created by <b>' + ele.created_by + '</b> on ' + dayCreated + '  <b>and assigned to:</b> ' + ele.assigned_to + '</b>. Last update: ' + dayUpdated + "</p>",
                '</div>'
                
              ];
              issues.push(single.join(''));
            });
            $('#issueDisplay').html(issues.join(''));
          }
        });
        
        $('#newIssue').submit(function(e){
          e.preventDefault();
          $(this).attr('action', "/api/issues/" + currentProject);
          $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert("Issue successfully added"); window.location.reload(true); }
          });
        });
        
        $('#issueDisplay').on('click','.closeIssue', function(e) {
          var url = "/api/issues/"+currentProject;
          $.ajax({
            type: "PUT",
            url: url,
            data: {_id: $(this).attr('id'), open: false},
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
        $('#issueDisplay').on('click','.deleteIssue', function(e) {
          var url = "/api/issues/"+currentProject;
          $.ajax({
            type: "DELETE",
            url: url,
            data: {_id: $(this).attr('id')},
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
      });
   </script>
  </body>
</html>